<% provide(:title, t("publishers.index.name_page")) %>
<h1><%= t("publishers.index.name_page") %></h1>

<div class="row">
  <%= render "search" %>
  <%= render "export" %>
  <div class="col-md-2" >
    <% if current_user.admin? %>
      <%= link_to t("publishers.index.text_button"), new_publisher_path, class: "btn btn-outline-primary rights" %>
    <% end %>
  </div>
</div>

<ul class="objects">
  <%= render @publishers %>
</ul>

<%= will_paginate %>
