<% provide(:title, @category.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="object_info">
      <h1><%= t("categories.show.text_name") %> <%= @category.name %></h1>
      <span>&emsp;&emsp;&emsp;<%= @category.content if @category.content.present? %></span>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @category.books.any? %>
      <h3><%= t(:text_count, count: @category.books.count) %></h3>
      <ol class="objects"><%= render @books %></ol>
      <%= will_paginate @books %>
    <% end %>
  </div>
</div>
